.song {
 min-width: 200px;
 float: left;
 margin-bottom: 3em;
 margin-right: 3em;
 padding-left: 1.5em;
 padding-top: 0.5em;
 padding-bottom: 0.5em;
 border-left: 0.7em solid lightgray;


}

.progress {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}
.progress b {
    margin-right: 1em;
}


.small {
  font-size: 0.8em;
}

.image {
    float: left;
    margin-right: 1em;
    padding: 0;
    border: 1px solid black;
    background: white;
}

.imageblackbg {
    float: left;
    margin-right: 1em;
    padding: 0;
    border: 1px solid black;
    background: black;
}